* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

html,body {
width: 100vw;
height: 100vh;
overflow-x: hidden;
background-color: black;
font-family: "Sora", sans-serif;
font-optical-sizing: auto;
}

.spline_container {
 padding: 0;
 margin: 0;
}

::-webkit-scrollbar {
width: 0px;
/* Remove scrollbar space */
background: transparent;
/* Optional: just make scrollbar invisible */
}

html::-webkit-scrollbar {
display: none; /* hide scrollbar for Chrome, Safari, and Opera */
}


.Terms {
  width: 100vw;
  height: auto;
  color: white;
  text-align: center;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Terms_Text {
  width: 80%;
  height: auto;
}


.terms_p {
  margin: 0;
  padding: 0;
}

br {
  margin: 0;
  padding: 0;
}

ul,a,li {
  color: white;
  text-decoration: none;
  list-style-type: none;
}

@media (max-width: 900px) {
  .mobile-none
  {
    display: none;
  }
  
}
